*{
    margin: 0;
    padding: 0;
    list-style: none;   
}
body{
    width: 100%;
    color: #3a6604;
    text-align: center;
    min-height: 100vh;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 50%;
    overflow-y: scroll;
    height: 90vh;
    padding: 15px 2%;
    box-shadow: 0 0 5px #3a6604;
}
.container::-webkit-scrollbar{
    width: 14px;
    border: 1px solid #3a6604;
}
.container::-webkit-scrollbar-thumb{
    background-color: #3a6604;
    border-radius: 6px;
}
.hr_dados1 {
    border-top: medium dashed #3a6604;
    border-bottom: medium dashed #3a6604;
    height: 5px;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.hr_dados1::after {
    content: 'CINTHIA LINDOLFO DA SILVA';
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: #fff;
    display: inline;
    position: relative;
}
.hr_01 {
    border-top: medium dashed #3a6604;
    border-bottom: medium dashed #3a6604;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.hr_01::after {
    content: 'OBJETIVO';
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: #fff;
    display: inline;
    position: relative;
}
.hr_02 {
    border-top: medium dashed #3a6604;
    border-bottom: medium dashed #3a6604;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.hr_02::after {
    content: 'FORMAÇÃO';
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: #fff;
    display: inline;
    position: relative;
}
.hr_03 {
    border-top: medium dashed #3a6604;
    border-bottom: medium dashed #3a6604;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.hr_03::after {
    content: 'EXPERIÊNCIA';
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: #fff;
    display: inline;
    position: relative;
}
.hr_04 {
    border-top: medium dashed #3a6604;
    border-bottom: medium dashed #3a6604;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.hr_04::after {
    content: 'EXPERIÊNCIAS VOLUNTÁRIAS';
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: #fff;
    display: inline;
    position: relative;
}
.hr_05 {
    border-top: medium dashed #3a6604;
    border-bottom: medium dashed #3a6604;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.hr_05::after {
    content: 'OUTROS CURSOS';
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: #fff;
    display: inline;
    position: relative;
}
.hr_06 {
    border-top: medium dashed #3a6604;
    border-bottom: medium dashed #3a6604;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.hr_06::after {
    content: 'HABILIDADES';
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: #fff;
    display: inline;
    position: relative;
}
.hr_07 {
    border-top: medium dashed #3a6604;
    border-bottom: medium dashed #3a6604;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}
.hr_07::after {
    content: 'REDES SOCIAIS';
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: #fff;
    display: inline;
    position: relative;
}
.fab {
    cursor: pointer;
    margin: 5px;
    max-height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #3a6604;
}
.fab:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    color: #000;
}